recipes-tdn-nr/tdn-nr-DiSU/nr-files/flows.json
[
    {
        "id": "8a2509fe537f04ba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92f50b318f6e726b",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "DRM",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "3f4d0554bd68a188"
            ],
            [
                "93657dda22fa7e10"
            ],
            []
        ]
    },
    {
        "id": "3f4d0554bd68a188",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "admin",
        "func": "setTimeout(function () {\n    const hash = crypto.createHash('sha256').update(msg.payload.split(\":\")[1].trim() + \"random Test Fact Salted\").digest('hex');\n    global.set('hash', hash);\n    if (global.get('SHA').includes(hash)) {\n        node.send({ payload: `cp /home/root/.node-red/nr.tgz /home/root/nr.tgz` })\n        node.send({ payload: `cp -r /home/root/.node-red/app/ /home/root/app/` })\n        node.send({ payload:`npm --prefix /home/root/install install /home/root/nr.tgz`})\n    } else {\n    }\n}, 1000);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "fab19d51b2186915",
                "9686a1ebbb1695e5"
            ]
        ]
    },
    {
        "id": "2530ec9f6c24a4f4",
        "type": "file in",
        "z": "8a2509fe537f04ba",
        "name": "load",
        "filename": "path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "47e4d0feec1b36c1"
            ]
        ]
    },
    {
        "id": "47e4d0feec1b36c1",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "",
        "func": "node.send(msg)\nvar i = msg.payload.split('\\n');\nvar b = [];\nfor (const element of i) {\n  b.push(element.trim());\n}\nglobal.set('SHA',b);\nmsg.payload = b\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fab19d51b2186915",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "npm",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "47748512d45cb33a"
            ],
            [
                "073a5e8191ba91b7"
            ],
            []
        ]
    },
    {
        "id": "47748512d45cb33a",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 1",
        "func": "if (msg.payload.length !== 0) {\n    if (msg.payload = msg.payload.split(\" \")[0].replace(/\\n/g, \"\").replace(/\\r/g, \"\") === \"added\") {\n        node.send({ payload: `rm -r /home/root/.node-red` })\n        node.send({ payload: `cp -r /home/root/install/node_modules/tdn-disu_v2/ /home/root/.node-red/` })\n        node.send({ payload: `cp -v /home/root/app/21-httprequest.js /usr/lib/node_modules/node-red/node_modules/@node-red/nodes/core/network/21-httprequest.js`})\n        node.send({ payload: `echo \"{ \"ip\": \"192.168.100.7\", \"digestUser\": \"admin\", \"digestPass\": \"Hikvision1234\", \"make\": \"Hikvision\", \"lines\": 4, \"options\": { \"x\": 0, \"y\": 255, \"trans\": true }, \"filter\": \"micros\" }\" > /home/root/.usrTemp` })\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "ebed3bd8d9381843",
                "a1f2413306b455cc"
            ]
        ]
    },
    {
        "id": "a1f2413306b455cc",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cp",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "1a8712242da76ab8",
                "a48d2e654724d3f9"
            ],
            [
                "61ce10db6df1c999"
            ],
            []
        ]
    },
    {
        "id": "4a14260e08c00b72",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reboot",
        "x": 230,
        "y": 920,
        "wires": [
            [
                "290b1aa99e186862"
            ],
            [
                "1939a75dcaed1be9"
            ],
            []
        ]
    },
    {
        "id": "1a8712242da76ab8",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 4",
        "func": "if(msg.payload.length !== 0){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "ed434df8a194c864",
                "22db97f24693140f"
            ]
        ]
    },
    {
        "id": "7255d115c50bb4cf",
        "type": "catch",
        "z": "8a2509fe537f04ba",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 20,
        "wires": [
            [
                "9bb907c4830a6896"
            ]
        ]
    },
    {
        "id": "9bb907c4830a6896",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "eb0d4cd7e9be3e26",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "b79ffcef82de787f"
            ],
            [
                "dab50fbbba8cefed"
            ],
            []
        ]
    },
    {
        "id": "f4f5312bc63f81b2",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "cp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "cp -v /home/root/.node-red/app/SHA /home/root/.SHA",
        "payloadType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "eb0d4cd7e9be3e26"
            ]
        ]
    },
    {
        "id": "b79ffcef82de787f",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 5",
        "func": "node.send({ payload: `cat /proc/cpuinfo | grep \"Serial\"`, path: `/home/root/.SHA` })",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "2530ec9f6c24a4f4",
                "592fb44ad261516a"
            ]
        ]
    },
    {
        "id": "592fb44ad261516a",
        "type": "delay",
        "z": "8a2509fe537f04ba",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "92f50b318f6e726b"
            ]
        ]
    },
    {
        "id": "93657dda22fa7e10",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "073a5e8191ba91b7",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 620,
        "wires": []
    },
    {
        "id": "ebed3bd8d9381843",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "a48d2e654724d3f9",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "61ce10db6df1c999",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 740,
        "wires": []
    },
    {
        "id": "ed434df8a194c864",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "dab50fbbba8cefed",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "2bcc5880a3293b02",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "echo \"182f4fa668d86cff630c376b8e5795ba296103a20b81686a8de8168ae93a83c5\" >> /home/root/.SHA",
        "payloadType": "str",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "e92fc4003f71edf7"
            ]
        ]
    },
    {
        "id": "e92fc4003f71edf7",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "fa31a23af39efea2"
            ],
            [
                "a0843ee0fd6eeafc"
            ],
            []
        ]
    },
    {
        "id": "fa31a23af39efea2",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 980,
        "wires": []
    },
    {
        "id": "a0843ee0fd6eeafc",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f1c1a70c7691454b",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b8c7cf7a6c8b68b7"
            ]
        ]
    },
    {
        "id": "53aa05bd679a7182",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "290b1aa99e186862",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 900,
        "wires": []
    },
    {
        "id": "1939a75dcaed1be9",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 940,
        "wires": []
    },
    {
        "id": "b8c7cf7a6c8b68b7",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 6",
        "func": "node.send({payload:`echo \"auto lo\niface lo inet loopback\n\nauto eth0\niface eth0 inet static\naddress 192.168.100.155\nnetmask 255.255.255.0\n\" > /etc/network/interfaces`\n})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "53aa05bd679a7182"
            ]
        ]
    },
    {
        "id": "be8ed53b40564687",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Procscan",
        "x": 240,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a29b38664a5dd9b4",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "chmod +x /usr/bin/procscan",
        "payloadType": "str",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "be8ed53b40564687"
            ]
        ]
    },
    {
        "id": "9686a1ebbb1695e5",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "61171e6602de03d3",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "hostname",
        "x": 240,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5fd233acc2d9174f",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hostnamectl set-hostname \"iFace4\"",
        "payloadType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "61171e6602de03d3"
            ]
        ]
    },
    {
        "id": "4db7be14e1696ed0",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "adduser",
        "x": 240,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "33688f5aa687b8bb",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mkdir -p {/home/config/ipdev/config,/home/config/ipdev/logs,/home/config/ipdev/update}",
        "payloadType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "d587473a65d03463"
            ]
        ]
    },
    {
        "id": "d587473a65d03463",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ipdev",
        "x": 230,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6ee231bde439af44",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "chown -R config:config /home/config/ipdev/",
        "payloadType": "str",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "b3e132a6251c7478"
            ]
        ]
    },
    {
        "id": "b3e132a6251c7478",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "config",
        "x": 510,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "22db97f24693140f",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 7",
        "func": "msg.payload = `Enable Device: 1\nType: 1\n\t(1=Legacy Models, 2=2020 onwards)\n\nCameraIP: 192.168.100.155\nUsername: admin\nPassword: Hikvision1234\n*** A V O I D special characters ie: / , @ , : , \\ others should be okay ***\nline 1 Y: 70\nline 2 Y: 100\nline 3 Y: 130\nline 4 Y: 160\nX Offset: 25\n*** Dwell Must be smaller than ClearTimer ***\nDwellTimer: 10\nClearTimer: 30\nScroll Pacing uSec: 1000\nSmart Format: 1\n*** Ensure space after colon, then string to exclude, with no spaces after ***\nfilter 01: ----------\n....\nfilter 12: VAT No:\n\n\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 840,
        "wires": [
            [
                "e6ce86898c1c5cb1"
            ]
        ]
    },
    {
        "id": "e6ce86898c1c5cb1",
        "type": "file",
        "z": "8a2509fe537f04ba",
        "name": "",
        "filename": "/home/config/ipdev/config/camconfig.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "4a14260e08c00b72"
            ]
        ]
    },
    {
        "id": "dc69dc0c6b2165f9",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "smbpasswd -a config",
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bf26928ffeb42986",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "useradd -M -s /sbin/nologin config",
        "payloadType": "str",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "4db7be14e1696ed0"
            ]
        ]
    },
    {
        "id": "2acd19ba362db9e9",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "useradd -p $(echo r8 | openssl passwd -1 -stdin) config",
        "payloadType": "str",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "522ceae7a7cb06f0",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "fdabb951dce5e104"
            ]
        ]
    },
    {
        "id": "fdabb951dce5e104",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 8",
        "func": "msg.payload = `echo \"[global]\n        log file = /var/log/samba/%m\n        log level = 1\n        server role = standalone server\n\n[config]\n        # This share requires authentication to access\n        path = /home/config/ipdev/config/\n        read only = no\n        inherit permissions = yes\n\n[update]\n        # This share requires authentication to access\n        path = /home/config/ipdev/update/\n        read only = no\n        inherit permissions = yes\" > /etc/samba/smb.conf`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "051a9852023fb8b2"
            ]
        ]
    },
    {
        "id": "051a9852023fb8b2",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "smb config",
        "x": 410,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    }
]