recipes-tdn-nr/tdn-nr-am3358/nr-files/app/flows.json
[
    {
        "id": "4d18f5db.18203c",
        "type": "tab",
        "label": "setup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83fc605a.3ff0b8",
        "type": "tab",
        "label": "telemtry",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1219df3e.d50e81",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "TDN-USB",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2aace6ff.bd2cea",
        "type": "ui_group",
        "name": "Camera Configuration",
        "tab": "8b8a299d.be71a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c656690.10b188",
        "type": "ui_group",
        "name": "Device Setup",
        "tab": "c121e140.8b666",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c121e140.8b666",
        "type": "ui_tab",
        "name": "Device Setup",
        "icon": "tv",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b8a299d.be71a8",
        "type": "ui_tab",
        "name": "Camera Definition",
        "icon": "camera",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2bc39fc3.1f3cf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6c656690.10b188",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b29094f.55b5d6",
        "type": "ui_group",
        "name": "FTP Data",
        "tab": "991d05df.e99248",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "991d05df.e99248",
        "type": "ui_tab",
        "name": "FTP Data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f041467d7ecf6c66",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9d93e5d2.bf1668",
        "type": "inject",
        "z": "4d18f5db.18203c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "16d33d30.73b7d3",
                "2ec6191d.86c796"
            ]
        ]
    },
    {
        "id": "583e8080.f8ff58",
        "type": "ui_text_input",
        "z": "4d18f5db.18203c",
        "name": "IPv4",
        "label": "IPv4 Address",
        "tooltip": "",
        "group": "2aace6ff.bd2cea",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "bf6ccd07.04c678"
            ]
        ]
    },
    {
        "id": "a287486f.40be4",
        "type": "ui_dropdown",
        "z": "4d18f5db.18203c",
        "name": "Make",
        "label": "Make ",
        "tooltip": "",
        "place": "Select option",
        "group": "2aace6ff.bd2cea",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Bosch",
                "value": "Bosch",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "90e20f5.56f087",
                "27014f80.82c4d8"
            ]
        ]
    },
    {
        "id": "90e20f5.56f087",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "var i = msg.payload;\nif (i === \"Bosch\"){\n    msg.enabled = true\n    msg.payload = \"Bosch\"\n    msg.options = [ \n        \"Bosch 6 line no credentials\",\n        \"Bosch 6 line with credentials\",\n        \"Bosch 4 line no credentials\",\n        \"Bosch 4 line with credentials\"]\nreturn msg;\n}\nelse {\n    msg.enabled = false\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "1d79542d.c91b1c"
            ]
        ]
    },
    {
        "id": "1d79542d.c91b1c",
        "type": "ui_dropdown",
        "z": "4d18f5db.18203c",
        "name": "Model",
        "label": "Model",
        "tooltip": "",
        "place": "Select option",
        "group": "2aace6ff.bd2cea",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "1ca14b25.89b7a5"
            ]
        ]
    },
    {
        "id": "9bfe616e.7b5e3",
        "type": "ui_text_input",
        "z": "4d18f5db.18203c",
        "name": "Username",
        "label": "Username",
        "tooltip": "",
        "group": "2aace6ff.bd2cea",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "2824acbe.99c61c"
            ]
        ]
    },
    {
        "id": "a7254fe5.8f3688",
        "type": "ui_text_input",
        "z": "4d18f5db.18203c",
        "name": "Password",
        "label": "Password",
        "tooltip": "",
        "group": "2aace6ff.bd2cea",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "e675e481.5030f8"
            ]
        ]
    },
    {
        "id": "bf6ccd07.04c678",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.ipaddr',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2824acbe.99c61c",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.username',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e675e481.5030f8",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.password',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1ca14b25.89b7a5",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.make',msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2b0a1bcf.ef66b4",
        "type": "ui_button",
        "z": "4d18f5db.18203c",
        "name": "",
        "group": "2aace6ff.bd2cea",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Accept Changes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "b4a851a0.89c57"
            ]
        ]
    },
    {
        "id": "b4a851a0.89c57",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "var i = global.get('camera')\nglobal.set('prod',i)\nmsg.payload = i\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "e406bc3.b38c14"
            ]
        ]
    },
    {
        "id": "f3a13c62.d0eb28",
        "type": "file in",
        "z": "4d18f5db.18203c",
        "name": "",
        "filename": "/home/debian/.usrTemp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "a4ffe6d.de54998",
                "51c3b9d3.d1f89"
            ]
        ]
    },
    {
        "id": "e406bc3.b38c14",
        "type": "file",
        "z": "4d18f5db.18203c",
        "name": "",
        "filename": "/home/debian/.usrTemp",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 560,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a4ffe6d.de54998",
        "type": "json",
        "z": "4d18f5db.18203c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "1d0c9f3f.2c16c1"
            ]
        ]
    },
    {
        "id": "1d0c9f3f.2c16c1",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "Initialise",
        "func": "global.set('camera',msg.payload);\nglobal.set('prod',global.get('camera'));\nmsg.payload = (global.get('prod'));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 340,
        "wires": [
            [
                "a2f5a5f5.e5b6e"
            ]
        ]
    },
    {
        "id": "d99082f8.39f66",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "var i = msg.payload.split(' ');\nif (global.get('SHA').includes(i[0])){\n    node.send(msg)\n}else{\n    node.error(\"not DRC complient\", msg);\n}\n\n\n/*var i = msg.payload.toString().split(\"  \");\nvar sum = []\n sum.push(\"19f409e1fa3256310a821264c74426e63148f63d6b3e1215c36bd166c7b1d47c\")\nmsg.i = i[0]\nmsg.sum = sum\nif (sum.includes(i[0])){\n    msg.test = true\nreturn msg;\n} // => true)\nelse {msg.test = false}\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "f3a13c62.d0eb28"
            ]
        ]
    },
    {
        "id": "597b4ee4.ed8fe8",
        "type": "ui_form",
        "z": "4d18f5db.18203c",
        "name": "",
        "label": "",
        "group": "6c656690.10b188",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "IPv4 Address",
                "value": "ipaddr",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Subnet Mask",
                "value": "subnet",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Gateway",
                "value": "gateway",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ipaddr": "",
            "subnet": "",
            "gateway": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "22d2d1e3.5daa6e"
            ]
        ]
    },
    {
        "id": "f9a2874e.ff747",
        "type": "ui_toast",
        "z": "4d18f5db.18203c",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "cec36217.234508"
            ]
        ]
    },
    {
        "id": "22d2d1e3.5daa6e",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "const regexExp = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/gi;\nconst regexExp1 = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/gi;\nconst regexExp2 = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/gi;\nmsg.ip = msg.payload\nif (msg.payload.ipaddr !== \"\"){\n        if (msg.payload.subnet !== \"\"){\n                if (msg.payload.gateway !== \"\"){\n                    if (regexExp.test(msg.payload.ipaddr) && regexExp1.test(msg.payload.subnet) && regexExp2.test(msg.payload.gateway)){\n                        var i = \n`auto lo\niface lo inet loopback\n\nauto eth0\niface eth0 inet static\naddress `+msg.payload.ipaddr+`\nnetmask `+msg.payload.subnet+`\ngateway `+msg.payload.gateway\nmsg.payload = i\n\n                    }else {msg.payload = \"Invalid IP Format\"}\n                }else {msg.payload = \"No Gateway Defined\"}\n        }else {msg.payload = \"No Subnet Defined\"}\n}else {msg.payload = \"No IP Address Defined\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "f9a2874e.ff747",
                "59176588.3b2aec"
            ]
        ]
    },
    {
        "id": "cec36217.234508",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "59176588.3b2aec",
        "type": "file",
        "z": "4d18f5db.18203c",
        "name": "",
        "filename": "/etc/network/interfaces",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 480,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "97906ad3.72fbe8",
        "type": "ui_template",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "name": "",
        "order": 16,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/abstract.jpg\");  // file path\n        background-repeat: no-repeat;\n        background-size: cover;\n        background-position: bottom left;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 140,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "88891233.16f8b8",
        "type": "ui_media",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "name": "",
        "width": "6",
        "height": "3",
        "order": 1,
        "category": "jpg",
        "file": "svs.jpg",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 310,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9741326b.6740b8",
        "type": "ui_media",
        "z": "4d18f5db.18203c",
        "group": "6c656690.10b188",
        "name": "",
        "width": "6",
        "height": "3",
        "order": 1,
        "category": "jpg",
        "file": "svs.jpg",
        "layout": "center",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 430,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "27014f80.82c4d8",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "var i = msg.payload;\nif (i === \"Bosch\"){\n    msg.enabled = true\nreturn msg;\n}\nelse {\n    msg.enabled = false\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 640,
        "wires": [
            [
                "aaf761f3.32cf9"
            ]
        ]
    },
    {
        "id": "aaf761f3.32cf9",
        "type": "ui_form",
        "z": "4d18f5db.18203c",
        "name": "",
        "label": "Options",
        "group": "2aace6ff.bd2cea",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "X Position - 0 Default",
                "value": "x",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Y Position - 0 Default",
                "value": "y",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Transparent Text",
                "value": "trans",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "x": "",
            "y": "",
            "trans": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 360,
        "y": 640,
        "wires": [
            [
                "421ddbe5.7a9554"
            ]
        ]
    },
    {
        "id": "421ddbe5.7a9554",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.options',msg.payload)\nmsg.payload = \"options\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f5a5f5.e5b6e",
        "type": "link out",
        "z": "4d18f5db.18203c",
        "name": "Camera Options",
        "links": [
            "86cf3e32.06b1a"
        ],
        "x": 875,
        "y": 340,
        "wires": []
    },
    {
        "id": "34cd22c2.47016e",
        "type": "file in",
        "z": "4d18f5db.18203c",
        "name": "",
        "filename": "/home/debian/.symCheckTemp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "e74b5e2e.cbdd78"
            ]
        ]
    },
    {
        "id": "bd45b190.77bf2",
        "type": "ui_dropdown",
        "z": "4d18f5db.18203c",
        "name": "Filter",
        "label": "Filter",
        "tooltip": "",
        "place": "Select option",
        "group": "2aace6ff.bd2cea",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "Select",
                "type": "str"
            },
            {
                "label": "Micros",
                "value": "micros",
                "type": "str"
            },
            {
                "label": "Kisan",
                "value": "kisan",
                "type": "str"
            },
            {
                "label": "Galaxy",
                "value": "galaxy",
                "type": "str"
            },
            {
                "label": "None",
                "value": "none",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "2b27f5e0.b493e2"
            ]
        ]
    },
    {
        "id": "2b27f5e0.b493e2",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "global.set('camera.options.filter', msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "3423f787.4034",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IPv4",
        "format": "{{msg.payload.ipaddr}}",
        "layout": "row-spread",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "18796a61.8328e6",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Username",
        "format": "{{msg.payload.username}}",
        "layout": "row-spread",
        "x": 330,
        "y": 820,
        "wires": []
    },
    {
        "id": "a774e1f2.3476b",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Password",
        "format": "{{msg.payload.password}}",
        "layout": "row-spread",
        "x": 320,
        "y": 860,
        "wires": []
    },
    {
        "id": "9e31700f.914518",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "2aace6ff.bd2cea",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Model",
        "format": "{{msg.payload.make}}",
        "layout": "row-spread",
        "x": 310,
        "y": 900,
        "wires": []
    },
    {
        "id": "ebe18eb8.c8f2d8",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "msg.payload = global.get('camera');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 860,
        "wires": [
            [
                "9e31700f.914518",
                "a774e1f2.3476b",
                "18796a61.8328e6",
                "3423f787.4034"
            ]
        ]
    },
    {
        "id": "51c3b9d3.d1f89",
        "type": "link out",
        "z": "4d18f5db.18203c",
        "name": "IP-Address",
        "links": [
            "d2a99d1a.987258",
            "4d38eef4.929c4"
        ],
        "x": 635,
        "y": 300,
        "wires": []
    },
    {
        "id": "16d33d30.73b7d3",
        "type": "file in",
        "z": "4d18f5db.18203c",
        "name": "",
        "filename": "/home/debian/.SHA",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "9fb0add5.380298"
            ]
        ]
    },
    {
        "id": "9fb0add5.380298",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "node.send(msg)\nvar i = msg.payload.split('\\n');\nvar b = [];\nfor (const element of i) {\n  b.push(element.trim());\n}\nglobal.set('SHA',b);\nmsg.payload = b\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2ec6191d.86c796",
        "type": "exec",
        "z": "4d18f5db.18203c",
        "command": "ip -j address",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "bbbc7978.ce5f38"
            ],
            [],
            []
        ]
    },
    {
        "id": "e74b5e2e.cbdd78",
        "type": "exec",
        "z": "4d18f5db.18203c",
        "command": "sha256sum /home/debian/.symCheckTemp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "d99082f8.39f66"
            ],
            [],
            []
        ]
    },
    {
        "id": "3d8b5a99.7920ae",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "admin",
        "func": "global.set('local',msg.payload[3].addr_info[0]);\nvar i = msg.payload[3];\nmsg.payload = msg.payload[3].address+\"random Test Fact Salted\";\nmsg.ipaddr = i.addr_info[0].local;\nif (i.addr_info[1].local !== undefined){msg.ipaddr_inter = i.addr_info[1].local}\nif (i.addr_info[1].local === undefined){null}\nmsg.subnet = i.addr_info[0].prefixlen;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "34cd22c2.47016e"
            ]
        ]
    },
    {
        "id": "bbbc7978.ce5f38",
        "type": "json",
        "z": "4d18f5db.18203c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "3d8b5a99.7920ae"
            ]
        ]
    },
    {
        "id": "2925bc55.95fc0c",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "msg.payload = global.get('local');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 960,
        "wires": [
            [
                "ab811383.f5b8",
                "ab5512b6.f308a8"
            ]
        ]
    },
    {
        "id": "ab5512b6.f308a8",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "6c656690.10b188",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IPv4",
        "format": "{{msg.payload.local}}",
        "layout": "row-spread",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "ab811383.f5b8",
        "type": "ui_text",
        "z": "4d18f5db.18203c",
        "group": "6c656690.10b188",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subnet",
        "format": "{{msg.payload.prefixlen}}",
        "layout": "row-spread",
        "x": 310,
        "y": 980,
        "wires": []
    },
    {
        "id": "43a5e908.41ae1",
        "type": "inject",
        "z": "4d18f5db.18203c",
        "name": "",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "93beb122.7c9f08"
            ]
        ]
    },
    {
        "id": "93beb122.7c9f08",
        "type": "http request",
        "z": "4d18f5db.18203c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.1.10.101",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "c41954b8.1313"
            ]
        ]
    },
    {
        "id": "c41954b8.1313",
        "type": "xml",
        "z": "4d18f5db.18203c",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "c0ca0611.922fe"
            ]
        ]
    },
    {
        "id": "c0ca0611.922fe",
        "type": "moment",
        "z": "4d18f5db.18203c",
        "name": "",
        "topic": "",
        "input": "headers.date",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "time",
        "outputType": "msg",
        "outTz": "Africa/Johannesburg",
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "578dd2d4.3ac1b4"
            ]
        ]
    },
    {
        "id": "578dd2d4.3ac1b4",
        "type": "function",
        "z": "4d18f5db.18203c",
        "name": "",
        "func": "node.send({payload:`timedatectl set-time \"${msg.time.replace(/T/g,\" \").replace(/Z/g,\" \").slice(0, -1)}\"`})",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "7c81dbbe.e1cdc4"
            ]
        ]
    },
    {
        "id": "7c81dbbe.e1cdc4",
        "type": "exec",
        "z": "4d18f5db.18203c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 1160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e785ef03.63ce78",
        "type": "catch",
        "z": "4d18f5db.18203c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 60,
        "wires": [
            [
                "b45162cc.05216",
                "1d9df4af.990c23"
            ]
        ]
    },
    {
        "id": "1d9df4af.990c23",
        "type": "link out",
        "z": "4d18f5db.18203c",
        "name": "Init Catch Out",
        "links": [
            "e987e350.b16a78"
        ],
        "x": 215,
        "y": 80,
        "wires": []
    },
    {
        "id": "b45162cc.05216",
        "type": "debug",
        "z": "4d18f5db.18203c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "d3548b39.5c4ad8",
        "type": "catch",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "1f458946.543c17"
            ]
        ]
    },
    {
        "id": "1f458946.543c17",
        "type": "debug",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "3500f10b.8a0d2e",
        "type": "watch",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "files": "/home/numeronsrv",
        "recursive": true,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7d1581d0.193c2"
            ]
        ]
    },
    {
        "id": "7d1581d0.193c2",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "func": "if (msg.type === \"file\"){\n    // node.send([{filename:msg.payload},{filename:msg.payload}])\n    if(msg.size > 100){\n        if(msg.payload.split(\".\")[1] === \"xml\"){\n            node.send([{filename:msg.payload}])\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "c619bf1c.53bdd"
            ]
        ]
    },
    {
        "id": "c619bf1c.53bdd",
        "type": "file in",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "60b4e809.e2cf18",
                "79392653a961ad6c"
            ]
        ]
    },
    {
        "id": "b9eaaf19.f09db",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "7f719381.cde63c"
            ]
        ]
    },
    {
        "id": "63dc89a.dbdae78",
        "type": "debug",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f719381.cde63c",
        "type": "file",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "47bc237.c48c5dc",
        "type": "ui_text",
        "z": "83fc605a.3ff0b8",
        "group": "3b29094f.55b5d6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FTP Data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "60b4e809.e2cf18",
        "type": "xml",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "63dc89a.dbdae78",
                "4734f90e.7b1aa8"
            ]
        ]
    },
    {
        "id": "33ee0945.95e646",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "admin",
        "func": "// msg.machine = msg.payload.substring(0, 5).trim()\n// msg.camera = global.get(`machines.${msg.machine}`)\n// msg.message = msg.payload.substring(6).trim().replace(/   /g, \"\").replace(/([^\\x20-z])/g, \"\")\nmsg.machine = msg.payload.InventoryNo\nmsg.camera = global.get(`machines.${msg.machine}`)\nmsg.message = msg.payload.EventText.trim().replace(/([^\\x20-z])/g, \"\")\n\nif (msg.camera){\n    node.send([msg,])\n}\nelse if (!msg.camera){\n    node.send([,msg])\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 380,
        "wires": [
            [
                "3207956b.330f6a"
            ],
            []
        ]
    },
    {
        "id": "738a5bf6.04def4",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Bosch http Request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "aad413d8.31eeb"
            ]
        ]
    },
    {
        "id": "1c60c0b8.ed037f",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "738a5bf6.04def4"
            ]
        ]
    },
    {
        "id": "9b559de9.e30d",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "Type Set",
        "func": "var i = global.get(`cameras.${msg.camera.user_assigned_id}`)\nmsg.topic = i.ip\nmsg.type = i.type\nmsg.make = i.make\nmsg.digestUser = i.digestUser\nmsg.digestPass = i.digestPass\nnode.send([msg, , , ,])\nvar str = msg.message\nvar result = stringDivider(str, 31, \"\\n\");\nvar splitMessage = result.split(\"\\n\");\nvar line1 = splitMessage[0] ? splitMessage[0] : \"\"\nvar line2 = splitMessage[1] ? splitMessage[1] : \"\"\nvar line3 = splitMessage[2] ? splitMessage[2] : \"\"\nvar line4 = splitMessage[3] ? splitMessage[3] : \"\"\nvar line5 = splitMessage[4] ? splitMessage[4] : \"\"\nif (i.make === \"Bosch\") {\n    msg.method = \"GET\"\n    msg.headers = { \"content-type\": 'application/xml' }\n    if (i.type === 4) {\n        var iconvEncoded =\n            iconvLite.encode(msg.machine, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line1, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line2, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line3, 'utf-16be').toString('hex').padEnd(128, \"0\")\n    }\n    else if (i.type === 6) {\n        var iconvEncoded =\n            iconvLite.encode(msg.machine, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line1, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line2, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line3, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line4, 'utf-16be').toString('hex').padEnd(128, \"0\") +\n            iconvLite.encode(line5, 'utf-16be').toString('hex').padEnd(128, \"0\")\n    }\n    node.send({ payload: iconvEncoded })\n    msg.url = 'http://' + i.ip +\n        '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' +\n        iconvEncoded +\n        '&rnd=' + Date.now()\n    return [null, msg, null, null, null, null, msg, null]\n}\nelse if (i.make === \"Hikvision\") {\n    msg.method = \"PUT\"\n    msg.headers = { \"content-type\": 'application/x-www-form-urlencoded; charset=UTF-8' }\n    msg.url = 'http://' + i.ip + '/ISAPI/System/Video/inputs/channels/1/overlays';\n    msg.payload = '<?xml version=\"1.0\" encoding=\"utf-8\"?><VideoOverlay><normalizedScreenSize><normalizedScreenWidth>704</normalizedScreenWidth><normalizedScreenHeight>576</normalizedScreenHeight></normalizedScreenSize><attribute><transparent>false</transparent><flashing>false</flashing></attribute><fontSize>adaptive</fontSize><frontColorMode>auto</frontColorMode><alignment>alignLeft</alignment><TextOverlayList><TextOverlay><id>1</id><enabled>true</enabled><displayText>' +\n        msg.machine + '</displayText><positionX>0</positionX><positionY>160</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>2</id><enabled>true</enabled><displayText>' +\n        msg.message + '</displayText><positionX>0</positionX><positionY>128</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>3</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>96</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>4</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>64</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay></TextOverlayList></VideoOverlay>';\n    return [null, null, msg, null, null]\n}\nelse if (i.make === \"Vivotek\") {\n    msg.method = \"GET\"\n    msg.headers = { \"content-type\": 'application/xml' }\n    msg.url = 'http://' + i.ip + '/cgi-bin/admin/setparam.cgi?videoin_c0_text=' +\n        msg.machine + '&videoin_c0_imprinttimestamp=1&videoin_c0_cmosfreq=60&videoin_c0_flip=0&videoin_c0_mirror=0&videoin_c0_color=1&videoin_c0_textonvideo_position=top&videoin_c0_textonvideo_size=30&videoin_c0_textonvideo_fontpath=/usr/share/font/Default.ttf&videoin_c0_rotate=0'\n    return [null, null, null, msg, null]\n}\nelse if (i.make === \"Dahua\") {\n    msg.method = \"POST\"\n    msg.url = 'http://' + i.ip + '/cgi-bin/configManager.cgi?action=setConfig&VideoWidget[0].CustomTitle[1].Text=' +\n        msg.machine + '|' + msg.message + '|' + \" \" + '|' + \" \" + '|' + \" \"\n    return [null, null, null, null, msg];\n}\nelse if (i.make === \"Univu\") {\n    msg.method = \"PUT\"\n    msg.headers = { \"content-type\": 'application/json;charset=UTF-8' }\n    msg.url = `http://${i.ip}/LAPI/V1.0/Channel/0/Media/OSD/0`;\n    msg.payload = '{\"AreaNum\":8,\"InfoOSD\":[{\"Index\":0,\"Enable\":1,\"InfoParam\":[{\"InfoType\":\"1\",\"Value\":\"\",\"Enable\":\"1\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":33,\"Y\":41},\"BotRight\":{\"X\":12,\"Y\":13}}},{\"Index\":1,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":75,\"Y\":3},\"BotRight\":{\"X\":85,\"Y\":13}}},{\"Index\":2,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":2,\"Y\":75},\"BotRight\":{\"X\":12,\"Y\":85}}},{\"Index\":3,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":0,\"Y\":0},\"BotRight\":{\"X\":10,\"Y\":10}}},{\"Index\":4,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":0,\"Y\":0},\"BotRight\":{\"X\":10,\"Y\":10}}},{\"Index\":5,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":0,\"Y\":0},\"BotRight\":{\"X\":10,\"Y\":10}}},{\"Index\":6,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":0,\"Y\":0},\"BotRight\":{\"X\":10,\"Y\":10}}},{\"Index\":7,\"Enable\":0,\"InfoParam\":[{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"},{\"InfoType\":0,\"Value\":\"\"}],\"Area\":{\"TopLeft\":{\"X\":0,\"Y\":0},\"BotRight\":{\"X\":10,\"Y\":10}}}]}'\n    return [null, null, null, null, null, msg];\n}\nfunction stringDivider(str, width, spaceReplacer) {\n    if (str.length > width) {\n        var p = width\n        for (; p > 0 && str[p] != ' '; p--) {\n        }\n        if (p > 0) {\n            var left = str.substring(0, p);\n            var right = str.substring(p + 1);\n            return left + spaceReplacer + stringDivider(right, width, spaceReplacer);\n        }\n    }\n    return str;\n}",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "iconvLite",
                "module": "iconv-lite"
            }
        ],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "f3a26884.c523a8"
            ],
            [
                "1c60c0b8.ed037f"
            ],
            [
                "2eb57ee8.73fd72"
            ],
            [
                "7a4b770c.0c2478"
            ],
            [
                "6b3023e3.1966cc"
            ],
            [
                "67f5c267.07179c"
            ],
            [
                "9ef92edd.385d4"
            ],
            [
                "762f98fb.4175e8"
            ]
        ]
    },
    {
        "id": "3207956b.330f6a",
        "type": "link out",
        "z": "83fc605a.3ff0b8",
        "name": "link out 3",
        "links": [
            "52ba9df8.7ec904"
        ],
        "x": 275,
        "y": 380,
        "wires": []
    },
    {
        "id": "52ba9df8.7ec904",
        "type": "link in",
        "z": "83fc605a.3ff0b8",
        "name": "link in 2",
        "links": [
            "3207956b.330f6a"
        ],
        "x": 75,
        "y": 640,
        "wires": [
            [
                "9b559de9.e30d"
            ]
        ]
    },
    {
        "id": "fde94df.b7797b",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Hikvision http request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 620,
        "y": 540,
        "wires": [
            [
                "e71bd054.8db2e"
            ]
        ]
    },
    {
        "id": "2eb57ee8.73fd72",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "fde94df.b7797b"
            ]
        ]
    },
    {
        "id": "d13d41e0.dc398",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Vivotek http request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "496fce09.f6e6d"
            ]
        ]
    },
    {
        "id": "7a4b770c.0c2478",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "d13d41e0.dc398"
            ]
        ]
    },
    {
        "id": "e0395296.be2a6",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Dahua http request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "588561ee.89cbd"
            ]
        ]
    },
    {
        "id": "6b3023e3.1966cc",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "e0395296.be2a6"
            ]
        ]
    },
    {
        "id": "dace70a3.b3ba2",
        "type": "debug",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "f3a26884.c523a8",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "dace70a3.b3ba2"
            ]
        ]
    },
    {
        "id": "ee38cd8e.bb497",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "clear screen",
        "func": "flow.set('buffer')\nmsg.method = \"GET\";\nmsg.headers = {\"content-type\": 'application/xml'};\nif (msg.type === 4){\nmsg.url = 'http://' + msg.topic + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(512, 0) + '&rnd=' + Date.now()\n}\nelse if (msg.type === 6){\n    msg.url = 'http://' + msg.topic + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(768, 0) + '&rnd=' + Date.now()\n}\nmsg.payload = \"\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "25acf7f1.8299e8"
            ]
        ]
    },
    {
        "id": "b5feaf51.120aa",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "clear screen",
        "func": "var i = global.get(`cameras.${msg.camera.user_assigned_id}`)\nmsg.digestUser = i.digestUser;\nmsg.digestPass = i.digestPass;\nflow.set('buffer')\nif (global.get(\"prod.make\") === \"Hikvision\"){\n    msg.method = \"PUT\"\n    msg.headers = {\"content-type\": 'application/x-www-form-urlencoded; charset=UTF-8'}\n    msg.payload = '<?xml version=\"1.0\" encoding=\"utf-8\"?><VideoOverlay><normalizedScreenSize><normalizedScreenWidth>704</normalizedScreenWidth><normalizedScreenHeight>576</normalizedScreenHeight></normalizedScreenSize><attribute><transparent>false</transparent><flashing>false</flashing></attribute><fontSize>adaptive</fontSize><frontColorMode>auto</frontColorMode><alignment>alignLeft</alignment><TextOverlayList><TextOverlay><id>1</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>128</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>2</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>96</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>3</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>64</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>4</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>32</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay></TextOverlayList></VideoOverlay>';\n    msg.url = 'http://' + i.ip + '/ISAPI/System/Video/inputs/channels/1/overlays';\n}\nelse if (global.get(\"prod.make\") === \"Bosch\"){\n    msg.method = \"GET\";\n    msg.headers = {\"content-type\": 'application/xml'};\n    if (i.lines === 4){\n    msg.url = 'http://' + i.ip + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(512, 0) + '&rnd=' + Date.now()\n    }\n    else if (i.lines === 6){\n        msg.url = 'http://' + i.ip + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(768, 0) + '&rnd=' + Date.now()\n    }\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "e65adb7b.52cdf8"
            ]
        ]
    },
    {
        "id": "e65adb7b.52cdf8",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Hikvision http clear",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 1130,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9ca67b.035ac8",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "clear screen",
        "func": "var i = global.get('prod');\nmsg.digestUser = i.digestUser;\nmsg.digestPass = i.digestPass;\nflow.set('buffer')\nif (global.get(\"prod.make\") === \"Hikvision\"){\n    msg.method = \"PUT\"\n    msg.headers = {\"content-type\": 'application/x-www-form-urlencoded; charset=UTF-8'}\n    msg.payload = '<?xml version=\"1.0\" encoding=\"utf-8\"?><VideoOverlay><normalizedScreenSize><normalizedScreenWidth>704</normalizedScreenWidth><normalizedScreenHeight>576</normalizedScreenHeight></normalizedScreenSize><attribute><transparent>false</transparent><flashing>false</flashing></attribute><fontSize>adaptive</fontSize><frontColorMode>auto</frontColorMode><alignment>alignLeft</alignment><TextOverlayList><TextOverlay><id>1</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>128</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>2</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>96</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>3</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>64</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay><TextOverlay><id>4</id><enabled>true</enabled><displayText></displayText><positionX>0</positionX><positionY>32</positionY><alignment>1</alignment><minMoveValue>16</minMoveValue></TextOverlay></TextOverlayList></VideoOverlay>';\n    msg.url = 'http://' + i.ip + '/ISAPI/System/Video/inputs/channels/1/overlays';\n}\nelse if (global.get(\"prod.make\") === \"Bosch\"){\n    msg.method = \"GET\";\n    msg.headers = {\"content-type\": 'application/xml'};\n    if (i.lines === 4){\n    msg.url = 'http://' + i.ip + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(512, 0) + '&rnd=' + Date.now()\n    }\n    else if (i.lines === 6){\n        msg.url = 'http://' + i.ip + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(768, 0) + '&rnd=' + Date.now()\n    }\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 600,
        "wires": [
            [
                "856ddc1b.d25ce"
            ]
        ]
    },
    {
        "id": "856ddc1b.d25ce",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Vivotek http clear",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 1110,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8525c4de.2470f8",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "clear screen",
        "func": "var i = global.get('prod');\nmsg.digestUser = i.digestUser;\nmsg.digestPass = i.digestPass;\nflow.set('buffer')\nmsg.method = \"POST\"\nmsg.url = 'http://' + i.ip + '/cgi-bin/configManager.cgi?action=setConfig&VideoWidget[0].CustomTitle[1].Text=                      |                      |                      |                      |                      '\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 660,
        "wires": [
            [
                "58dd7eb1.d1ef6"
            ]
        ]
    },
    {
        "id": "58dd7eb1.d1ef6",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Dahua http clear",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "digest",
        "x": 1100,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "25acf7f1.8299e8",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Bosch http Request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 1130,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7e581006.d4f7d",
        "type": "link in",
        "z": "83fc605a.3ff0b8",
        "name": "Data In to Cam",
        "links": [
            "23e3585e.272a08"
        ],
        "x": 75,
        "y": 360,
        "wires": [
            [
                "33ee0945.95e646"
            ]
        ]
    },
    {
        "id": "23e3585e.272a08",
        "type": "link out",
        "z": "83fc605a.3ff0b8",
        "name": "Data Out to Cam",
        "links": [
            "7e581006.d4f7d"
        ],
        "x": 795,
        "y": 200,
        "wires": []
    },
    {
        "id": "cd7ec8b4.0c50a8",
        "type": "change",
        "z": "83fc605a.3ff0b8",
        "name": "Item",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"request\": [\t        {\t        \"counter\":\"1\",\t        \"time\": time,\t        \"type\": \"transaction\",\t        \"data\": [\t        {\t        \"transaction_id\":till,\t        \"time\": time,\t        \"type\": \"item\",\t        \"data\": [\t        {\t            \"code\": \"1\",\t            \"description\": transaction,\t            \"quantity\": \"0\",\t            \"item_value\": \"0\",\t            \"total_value\": \"0\"\t        }\t        ]\t        }\t        ]\t    }\t]\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "7bc754ac.16358c"
            ]
        ]
    },
    {
        "id": "3dec3515.4bf8ba",
        "type": "change",
        "z": "83fc605a.3ff0b8",
        "name": "Close Check",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"request\": [\t       {\t           \"counter\":\"1\",\t           \"time\": time,\t           \"type\": \"transaction\",\t           \"data\": [\t               {\t                   \"transaction_id\":till,\t                   \"time\": time,\t                   \"type\": \"end\",\t                   \"data\": [\t                       {\t                           \"type\": \"complete\"\t        }\t        ]\t        }\t        ]\t    }\t]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9ef92edd.385d4",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "function 4",
        "func": "msg.till = msg.machine\nmsg.transaction = msg.message.trim()\nmsg.ip = global.get(`cathexisServer.ip`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 780,
        "wires": [
            [
                "75922fad.99396"
            ]
        ]
    },
    {
        "id": "75922fad.99396",
        "type": "moment",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Johannesburg",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en_GB",
        "output": "time",
        "outputType": "msg",
        "outTz": "Africa/Johannesburg",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "77ded878.f8b5d8"
            ]
        ]
    },
    {
        "id": "77ded878.f8b5d8",
        "type": "change",
        "z": "83fc605a.3ff0b8",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"request\": [\t        {\t        \"counter\":\"100\",\t        \"time\": time,\t        \"type\": \"transaction\",\t        \"data\": [\t        {\t        \"transaction_id\":till,\t        \"time\": time,\t        \"type\": \"start\",\t        \"data\": [\t        {\t            \"cashier_id\": \"TDN-GSI\",\t            \"till_id\": till\t        }\t        ]\t        }\t        ]\t    }\t]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 780,
        "wires": [
            [
                "7c665222.ee4f0c"
            ]
        ]
    },
    {
        "id": "b60b6663.5ce118",
        "type": "serial in",
        "z": "83fc605a.3ff0b8",
        "d": true,
        "name": "",
        "serial": "f041467d7ecf6c66",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "4734f90e.7b1aa8"
            ]
        ]
    },
    {
        "id": "4734f90e.7b1aa8",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "function 13",
        "func": "// var acceptedMessages = global.get(\"GSI-Accept\")\nif (global.get(\"GSI-Accept\").includes(msg.payload.Code)) {\n    node.send({\n        payload: msg.payload\n    })\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "4f01fcf7.76fda4"
            ]
        ]
    },
    {
        "id": "3f3ad1cc.a9fade",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "7bef7422.129e4c",
                "4f8c6d21.2a6c74"
            ]
        ]
    },
    {
        "id": "5269efe3.ff48",
        "type": "link out",
        "z": "83fc605a.3ff0b8",
        "name": "UPD Transaction Out",
        "links": [
            "f60e0d47661b7775"
        ],
        "x": 1095,
        "y": 780,
        "wires": []
    },
    {
        "id": "7c665222.ee4f0c",
        "type": "moment",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Johannesburg",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en_GB",
        "output": "time",
        "outputType": "msg",
        "outTz": "Africa/Johannesburg",
        "x": 660,
        "y": 820,
        "wires": [
            [
                "cd7ec8b4.0c50a8"
            ]
        ]
    },
    {
        "id": "7bc754ac.16358c",
        "type": "moment",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Johannesburg",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en_GB",
        "output": "time",
        "outputType": "msg",
        "outTz": "Africa/Johannesburg",
        "x": 740,
        "y": 860,
        "wires": [
            [
                "3dec3515.4bf8ba"
            ]
        ]
    },
    {
        "id": "7d0edaf5.e2b084",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Univu http request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 610,
        "y": 720,
        "wires": [
            [
                "90fd8902.9d5e78"
            ]
        ]
    },
    {
        "id": "720dfeea.16d99",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "clear screen",
        "func": "flow.set('buffer')\nmsg.method = \"GET\";\nmsg.headers = {\"content-type\": 'application/xml'};\nif (msg.type === 4){\nmsg.url = 'http://' + msg.topic + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(512, 0) + '&rnd=' + Date.now()\n}\nelse if (msg.type === 6){\n    msg.url = 'http://' + msg.topic + '/rcp.xml?command=0x0bb1&type=P_UNICODE&direction=WRITE&num=1&idstring=lines&payload=0x' + \"0\".padEnd(768, 0) + '&rnd=' + Date.now()\n}\nmsg.payload = \"\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 720,
        "wires": [
            [
                "26cf9054.72981"
            ]
        ]
    },
    {
        "id": "26cf9054.72981",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "Univu http clear",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 1100,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "67f5c267.07179c",
        "type": "delay",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "7d0edaf5.e2b084"
            ]
        ]
    },
    {
        "id": "aad413d8.31eeb",
        "type": "delay-topic-message",
        "z": "83fc605a.3ff0b8",
        "delay": "20",
        "x": 800,
        "y": 480,
        "wires": [
            [
                "ee38cd8e.bb497"
            ]
        ]
    },
    {
        "id": "e71bd054.8db2e",
        "type": "delay-topic-message",
        "z": "83fc605a.3ff0b8",
        "delay": "20",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "b5feaf51.120aa"
            ]
        ]
    },
    {
        "id": "496fce09.f6e6d",
        "type": "delay-topic-message",
        "z": "83fc605a.3ff0b8",
        "delay": "20",
        "x": 780,
        "y": 600,
        "wires": [
            [
                "6e9ca67b.035ac8"
            ]
        ]
    },
    {
        "id": "588561ee.89cbd",
        "type": "delay-topic-message",
        "z": "83fc605a.3ff0b8",
        "delay": "20",
        "x": 780,
        "y": 660,
        "wires": [
            [
                "8525c4de.2470f8"
            ]
        ]
    },
    {
        "id": "90fd8902.9d5e78",
        "type": "delay-topic-message",
        "z": "83fc605a.3ff0b8",
        "delay": "20",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "720dfeea.16d99"
            ]
        ]
    },
    {
        "id": "9b89c6a8.470ad8",
        "type": "ui_text",
        "z": "83fc605a.3ff0b8",
        "group": "3b29094f.55b5d6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Message Recieved",
        "format": "{{msg.payload.EventText}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "762f98fb.4175e8",
        "type": "rbe",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "url",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "3f3ad1cc.a9fade"
            ]
        ]
    },
    {
        "id": "cf778dd0.15161",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 870,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a45f8ab2.22a3c8",
        "type": "http request",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "x": 870,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "7bef7422.129e4c",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "function 20",
        "func": "if (msg.statusCode === \"ECONNREFUSED\"){\n    msg.url = `http://192.1.14.4${msg.redirectUrl}`\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 920,
        "wires": [
            [
                "cf778dd0.15161"
            ]
        ]
    },
    {
        "id": "4f8c6d21.2a6c74",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "d": true,
        "name": "function 21",
        "func": "if (msg.statusCode === \"ECONNREFUSED\") {\n    msg.url = `http://192.1.10.125${msg.redirectUrl}`\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 980,
        "wires": [
            [
                "a45f8ab2.22a3c8"
            ]
        ]
    },
    {
        "id": "4f01fcf7.76fda4",
        "type": "json",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "23e3585e.272a08",
                "42950d63.afb704",
                "9b89c6a8.470ad8"
            ]
        ]
    },
    {
        "id": "4fff6b54.27d484",
        "type": "inject",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1060,
        "wires": [
            [
                "a1fd1e8e.ec1a6"
            ]
        ]
    },
    {
        "id": "a1fd1e8e.ec1a6",
        "type": "file in",
        "z": "83fc605a.3ff0b8",
        "name": "",
        "filename": "/root/.symDump",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "ed2ca5.21dd7358"
            ]
        ]
    },
    {
        "id": "f3017e3a.13f81",
        "type": "debug",
        "z": "83fc605a.3ff0b8",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ed2ca5.21dd7358",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "function 24",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "f3017e3a.13f81"
            ]
        ]
    },
    {
        "id": "42950d63.afb704",
        "type": "debug",
        "z": "83fc605a.3ff0b8",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "79392653a961ad6c",
        "type": "function",
        "z": "83fc605a.3ff0b8",
        "name": "function 25",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "47bc237.c48c5dc",
                "b9eaaf19.f09db"
            ]
        ]
    }
]