recipes-tdn-nr/tdn-nr/nr-files/flows.json
[
    {
        "id": "821d2f5e77804562",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92b2f6df2d440dd0",
        "type": "exec",
        "z": "821d2f5e77804562",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ip addr",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "08d2f7e1a832e082"
            ],
            [],
            []
        ]
    },
    {
        "id": "08d2f7e1a832e082",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "admin",
        "func": "setTimeout(function () {\n    const hash = crypto.createHash('sha256').update(msg.payload.trim().split(\" \")[1] + \"random Test Fact Salted\").digest('hex');\n    global.set('hash', hash);\n    if (global.get('SHA').includes(hash)) {\n        node.send({ payload: `cp /home/root/.node-red/node-red-0.0.1.tgz /home/root/node-red-0.0.1.tgz` })\n        node.send({ payload: `cp -r /home/root/.node-red/app/ /home/root/app/` })\n        node.send({ payload:`npm --prefix /home/root/install install /home/root/node-red-0.0.1.tgz`})\n    } else {\n    }\n}, 1000);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "a2dc24dc06775655"
            ]
        ]
    },
    {
        "id": "937a68c3f87c33b6",
        "type": "file in",
        "z": "821d2f5e77804562",
        "name": "load",
        "filename": "path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "a9fddf40cbe6ecd6"
            ]
        ]
    },
    {
        "id": "a9fddf40cbe6ecd6",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "",
        "func": "node.send(msg)\nvar i = msg.payload.split('\\n');\nvar b = [];\nfor (const element of i) {\n  b.push(element.trim());\n}\nglobal.set('SHA',b);\nmsg.payload = b\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a2dc24dc06775655",
        "type": "exec",
        "z": "821d2f5e77804562",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "npm",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "506a5a9980f0923b"
            ],
            [],
            []
        ]
    },
    {
        "id": "506a5a9980f0923b",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "function 1",
        "func": "if (msg.payload.length !== 0) {\n    if (msg.payload = msg.payload.split(\" \")[0].replace(/\\n/g, \"\").replace(/\\r/g, \"\") === \"added\") {\n        node.send({ payload: `rm -r /home/root/.node-red` })\n        node.send({ payload: `mv /home/root/install/node_modules/node-red/ /home/root/.node-red/` })\n        node.send({ payload: `echo \"{ \"ip\": \"192.168.0.210\", \"digestUser\": \"service\", \"digestPass\": \"Admin123!\", \"make\": \"Bosch\", \"lines\": 6, \"options\": { \"x\": 0, \"y\": 255, \"trans\": true }, \"filter\": \"micros\" }\" > /home/root/.usrTemp` })\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "b055725d01c463dc"
            ]
        ]
    },
    {
        "id": "b055725d01c463dc",
        "type": "exec",
        "z": "821d2f5e77804562",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cp",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "ce6164a55e6b10fa"
            ],
            [],
            []
        ]
    },
    {
        "id": "caf148ce5dd1e716",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "function 3",
        "func": "if (msg.payload.length > 60000) {\n    setTimeout(function () {\n        node.send({ payload: `reboot` })\n    }, 1000);\n} else {\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "1daa13926ccc6e9c"
            ]
        ]
    },
    {
        "id": "1daa13926ccc6e9c",
        "type": "exec",
        "z": "821d2f5e77804562",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reboot",
        "x": 670,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7daefadc0daf1022",
        "type": "file in",
        "z": "821d2f5e77804562",
        "name": "",
        "filename": "/home/root/.node-red/flows.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "caf148ce5dd1e716"
            ]
        ]
    },
    {
        "id": "ce6164a55e6b10fa",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "function 4",
        "func": "if(msg.payload.length !== 0){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "7daefadc0daf1022"
            ]
        ]
    },
    {
        "id": "09d4029e5c7b909d",
        "type": "catch",
        "z": "821d2f5e77804562",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "75cd865634f82db1"
            ]
        ]
    },
    {
        "id": "75cd865634f82db1",
        "type": "debug",
        "z": "821d2f5e77804562",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "b92d6b75e13f2020",
        "type": "exec",
        "z": "821d2f5e77804562",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "b13100400ed60a3d"
            ],
            [],
            []
        ]
    },
    {
        "id": "991f9f56fc4e5cf1",
        "type": "inject",
        "z": "821d2f5e77804562",
        "name": "cp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mv -v /home/root/.node-red/app/SHA /home/root/.SHA",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "b92d6b75e13f2020"
            ]
        ]
    },
    {
        "id": "b13100400ed60a3d",
        "type": "function",
        "z": "821d2f5e77804562",
        "name": "function 5",
        "func": "if (msg.payload.split(\" \")[0] === \"renamed\") {\n    node.send({ payload: `ip addr | grep \"link/ether\"`, path: `/home/root/.SHA`})\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "937a68c3f87c33b6",
                "628df0043f5ceccb"
            ]
        ]
    },
    {
        "id": "628df0043f5ceccb",
        "type": "delay",
        "z": "821d2f5e77804562",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "92b2f6df2d440dd0"
            ]
        ]
    }
]