recipes-tdn-nr/tdn-nr/nr-files/flows.json
[
    {
        "id": "8a2509fe537f04ba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92f50b318f6e726b",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "DRM",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "3f4d0554bd68a188"
            ],
            [],
            []
        ]
    },
    {
        "id": "3f4d0554bd68a188",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "admin",
        "func": "setTimeout(function () {\n    const hash = crypto.createHash('sha256').update(msg.payload.split(\":\")[1].trim() + \"random Test Fact Salted\").digest('hex');\n    global.set('hash', hash);\n    if (global.get('SHA').includes(hash)) {\n        node.send({ payload: `cp /home/root/.node-red/node-red-0.0.1.tgz /home/root/node-red-0.0.1.tgz` })\n        node.send({ payload: `cp -r /home/root/.node-red/app/ /home/root/app/` })\n        node.send({ payload:`npm --prefix /home/root/install install /home/root/node-red-project-0.0.1.tgz`})\n    } else {\n    }\n}, 1000);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "fab19d51b2186915"
            ]
        ]
    },
    {
        "id": "2530ec9f6c24a4f4",
        "type": "file in",
        "z": "8a2509fe537f04ba",
        "name": "load",
        "filename": "path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "47e4d0feec1b36c1"
            ]
        ]
    },
    {
        "id": "47e4d0feec1b36c1",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "",
        "func": "node.send(msg)\nvar i = msg.payload.split('\\n');\nvar b = [];\nfor (const element of i) {\n  b.push(element.trim());\n}\nglobal.set('SHA',b);\nmsg.payload = b\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fab19d51b2186915",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "npm",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "47748512d45cb33a"
            ],
            [],
            []
        ]
    },
    {
        "id": "47748512d45cb33a",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 1",
        "func": "if (msg.payload.length !== 0) {\n    if (msg.payload = msg.payload.split(\" \")[0].replace(/\\n/g, \"\").replace(/\\r/g, \"\") === \"added\") {\n        node.send({ payload: `rm -r /home/root/.node-red` })\n        node.send({ payload: `mv /home/root/install/node_modules/node-red/ /home/root/.node-red/` })\n        node.send({ payload: `mv -v /home/root/app/lib/ui-media/lib/ui/* /home/root/.node-red/node_modules/node-red-dashboard/dist/` })\n        node.send({ payload: `mv -v /home/root/app/21-httprequest.js /usr/lib/node_modules/node-red/node_modules/@node-red/nodes/core/network/21-httprequest.js`})\n        node.send({ payload: `echo \"{ \"ip\": \"192.168.0.210\", \"digestUser\": \"service\", \"digestPass\": \"Admin123!\", \"make\": \"Bosch\", \"lines\": 6, \"options\": { \"x\": 0, \"y\": 255, \"trans\": true }, \"filter\": \"micros\" }\" > /home/root/.usrTemp` })\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "a1f2413306b455cc"
            ]
        ]
    },
    {
        "id": "a1f2413306b455cc",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cp",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "1a8712242da76ab8"
            ],
            [],
            []
        ]
    },
    {
        "id": "f4befbcaaf4ed2f7",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 3",
        "func": "if (msg.payload.length > 60000) {\n    setTimeout(function () {\n        node.send({ payload: `reboot` })\n    }, 1000);\n} else {\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "4a14260e08c00b72"
            ]
        ]
    },
    {
        "id": "4a14260e08c00b72",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reboot",
        "x": 670,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ac27075cfb1b1c1d",
        "type": "file in",
        "z": "8a2509fe537f04ba",
        "name": "",
        "filename": "/home/root/.node-red/flows.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "f4befbcaaf4ed2f7"
            ]
        ]
    },
    {
        "id": "1a8712242da76ab8",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 4",
        "func": "if(msg.payload.length !== 0){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "420f0e014d0cb84d"
            ]
        ]
    },
    {
        "id": "7255d115c50bb4cf",
        "type": "catch",
        "z": "8a2509fe537f04ba",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "9bb907c4830a6896"
            ]
        ]
    },
    {
        "id": "9bb907c4830a6896",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "eb0d4cd7e9be3e26",
        "type": "exec",
        "z": "8a2509fe537f04ba",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "b79ffcef82de787f"
            ],
            [],
            []
        ]
    },
    {
        "id": "f4f5312bc63f81b2",
        "type": "inject",
        "z": "8a2509fe537f04ba",
        "name": "cp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mv -v /home/root/.node-red/app/SHA /home/root/.SHA",
        "payloadType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "eb0d4cd7e9be3e26"
            ]
        ]
    },
    {
        "id": "b79ffcef82de787f",
        "type": "function",
        "z": "8a2509fe537f04ba",
        "name": "function 5",
        "func": "node.send({ payload: `cat /proc/cpuinfo | grep \"Serial\"`, path: `/home/root/.SHA` })",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "2530ec9f6c24a4f4",
                "592fb44ad261516a"
            ]
        ]
    },
    {
        "id": "592fb44ad261516a",
        "type": "delay",
        "z": "8a2509fe537f04ba",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "92f50b318f6e726b"
            ]
        ]
    },
    {
        "id": "420f0e014d0cb84d",
        "type": "debug",
        "z": "8a2509fe537f04ba",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    }
]